{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
        <title>Caos News! - Registrar Colaborador</title>

        <!--Conexion con css y bootstrap-->
        <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet"> 
        <link href="{% static 'css/styles.css' %}" type="text/css" rel="stylesheet"> 

        <!--Scripts-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/2c36e9b7b1.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
        
        <!--Validacion-->
        <script>
            $(function(){
              $("#formulario").validate({
                rules:{
                  rut_colaborador:{
                    required: true
                  },
                  imagen_:{
                    required: true
                  },
                  nombre_completo: {
                    required: true,
                  },
                  telefono_:{
                    required: true,
                  },
                  direccion_:{
                    required: true
                  },
                  email_: {
                    required: true,
                    email: true,
                  },
                  pais_: {
                    required: true,
                  },
                  contraseña_: {
                    required: true,
                  },
                },
                messages:{
                  rut_colaborador:{
                    required: 'Ingrese Nombre de Usuario',
                    maxlength:'Has Alcanzado el Limite de Caracteres'
                  },
                  imagen_:{
                    required: 'Ingrese una Imagen'
                  },
                  nombre_completo:{
                    required: 'Ingrese su Nombre',
                    maxlength:'Has Alcanzado el Limite de Caracteres'
                  },
                  telefono_:{
                    required: 'Ingrese su telefono',
                  },
                  direccion_:{
                    required: 'Ingrese su Direccion',
                    maxlength:'Has Alcanzado el Limite de Caracteres'
                  },
                  email_: {
                    required:'Ingrese su Email',
                    email: 'Formato de Correo no Válido'
                  },
                  pais_: {
                    required:'Ingrese su Pais',
                    maxlength:'Has Alcanzado el Limite de Caracteres'
                  },
                  contraseña_: {
                    required:'Ingrese su Contraseña',
                    maxlength:'Has Alcanzado el Limite de Caracteres'
                  },
                }
              });       
            });
          </script>
    </head>
    <body class="body_register_colaboradores">
        <section id="register">
            <div class="form-cont container-fluid">
              <div class="row color-row">
                <div class="columna-foto2 col-lg-6"> 
                </div>  
                <div class="col-lg-6 d-flex flex-column">
                  <div class="px-lg-5 py-lg-4 p-4 w-100 mt-4 align-self-center">  

                    <a href="{% url 'index' %}"><button type="button" class="btn btn-secondary"><i class="fas fa-chevron-left"></i></button></a>

                    <h1 class="font-weight-bold mb-3 mt-5 texto-form-regis">Registra  Colaborador</h1>
                    <p class=" mb-5 texto-form-regis-white">Ingresa la siguiente información para registrar un colaborador.</p>
                    <form method="POST" action="#" id="formulario" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group texto-form-regis">
                            {{form_colaboradores.rutColaborador.label}}
                            {{form_colaboradores.rutColaborador}}
                        </div>
                        <div class="form-group texto-form-regis">
                            {{form_colaboradores.imagen.label}}
                            {{form_colaboradores.imagen}}
                        </div>
                        <div class="form-group texto-form-regis">
                            {{form_colaboradores.nombreCompleto.label}}
                            {{form_colaboradores.nombreCompleto}}
                        </div>
                        <div class="form-group texto-form-regis">
                            {{form_colaboradores.telefono.label}}
                            {{form_colaboradores.telefono}}
                        </div>
                        <div class="form-group texto-form-regis">
                            {{form_colaboradores.direccion.label}}
                            {{form_colaboradores.direccion}} 
                        </div>
                        <div class="form-group texto-form-regis">
                            {{form_colaboradores.email.label}}
                            {{form_colaboradores.email}}  
                        </div>
                        <div class="form-group texto-form-regis">
                            {{form_colaboradores.pais.label}}
                            {{form_colaboradores.pais}}
                        </div>
                        <div class="form-group texto-form-regis">
                            {{form_colaboradores.contraseña.label}}
                            {{form_colaboradores.contraseña}}
                        </div>
                        <div class="form-group  pt-4 text-center">
                            <input type="submit" class="btn btn-danger mr-5" id="enviar" value="Guardar">
                            <input type="reset" class="btn btn-outline-dark ml-5" id="limpiar" value="Limpiar">
                        </div>
                    </form>
                  </div>  
                </div>
              </div>
            </div>  
        </section>   
        <footer class="footer text-faded text-center pt-4">
            <div class="container p-3 pb-0">
                <!--Social-->
                <section class="mb-1">
                  <!-- Facebook -->
                  <a class="btn btn-outline-light btn-floating m-1" href="https://es-la.facebook.com/" role="button" target="_blank"><i class="fab fa-facebook-f"></i></a>
                  <!-- Twitter -->
                  <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com" role="button" target="_blank"><i class="fab fa-twitter"></i></a>
                  <!-- Google -->
                  <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.com" role="button" target="_blank"><i class="fab fa-google"></i></a>
                  <!-- Instagram -->
                  <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com" role="button" target="_blank"><i class="fab fa-instagram"></i></a>
                  <!-- Linkedin -->
                  <a class="btn btn-outline-light btn-floating m-1" href="https://cl.linkedin.com" role="button" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                  <!-- Github -->
                  <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Jonna-NwT/ETEtapa1_JonatanPizarro004D" role="button" target="_blank"><i class="fab fa-github"></i></a>
                </section>
            </div>
            <!--Copyright -->
            <div class="text-center pb-4 pt-4 tlorem"  style="background-color: rgba(0, 0, 0, 1);">
                Jonatan Pizarro © 2020 Copyright:
                <a class="text-white tlorem" href="{% url 'index' %}">Caos News!</a>
            </div>      
        </footer> 
    </body>
</html>